*,
*::before,
*::after {
  box-sizing: inherit;
}
.article-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}

.artcle-container,
h3,
h6,
p,
.articleTags {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  margin-left: 15%;
  position: relative;
}

.article > .article-body {
  max-width: auto;
}

.articleTags {
  border: solid lightgray 0.5px;
  height: fit-content;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  /* display: inline-flex; */
  /* align-items: baseline; */
  /* padding-right: 0.6em;
  padding-left: 0.6em; */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10em;
  color: #aaa !important;
  position: absolute;
  bottom: 20px;
  right: 20rem;
}
.article-body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 65%;
}
