.banner {
  background-color: #5cb85c;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.conduit,
.item {
  color: white;
}

.conduit {
  font-size: 4rem;
  font-weight: bolder;
}

.global-Feed {
  display: flex;
  flex-direction: row;
  float: left;
  margin: 2rem auto auto 15rem;
}
