.nav-link {
  position: absolute;
  right: 1rem;
  font-size: 1.15rem;
}
.nav-link li {
  display: inline;
  list-style: none;
  margin: 1rem;
  color: white;
  text-decoration: none;
}

h1 .title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
